[Desktop Entry]
Type=Application
Name=Daily Wallpaper
Exec=/usr/sbin/anacron -s -t /home/gusta/.anacron/etc/anacrontab -S /home/gusta/.anacron/spool
Exec=/usr/sbin/anacron -s -t /home/gusta/.anacron/etc/anacrontab -S /home/gusta/.anacron/spool
